@model DescargasUI.Models.InformacionPersonalInicialesModel


<section>

    <div class="col-12  margenAlPie">
        <div class="text-center ">
            <h1>BIENVENIDO</h1>
        </div>
    </div>


    <div class="col-12 text-center ">
        <div class="contenedor" style=" margin-bottom: 42px;">
            <div class=" hijo">
                <img src="~/imagenes/ESCUDO_GRIS.png" alt="Sample image" style="height: 200px; width:110px; margin-top:6px;">

                <li class="list-group-item">@Model.NombreEmpleado</li>
                <li class="list-group-item">@Model.PuestoEmpleado</li>

            </div>
        </div>
    </div>


</section>





<style>

    .margenAlPie {
        margin-bottom: 60px;
    }


    .contenedor {
        display: flex;
        justify-content: center;
    }


    .hijo {
        margin: 0 auto;
    }
</style>
