@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --tiny-font-size: 16px;
    --xsmall-font-size: 18px;
    --small-font-size: 20px;
    --normal-font-size: 22px;
    --large-font-size: 24px;
    --xlarge-font-size: 26px;
    --giant-font-size: 28px;
}

html {
    height: 100vh;
    
}

body {
    display: flex;
    flex-direction: row;
    background: #F0F1F5;
    width: 100%;
    height: inherit;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    color: #54565B;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#menu-blocker {
    position: fixed;
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
}

#menu-blocker.active {
    pointer-events: all;
}

#side-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 250px;
    min-width: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    transition: all 0.25s;
    z-index: 5;
}

#side-menu > span {
    font-size: var(--giant-font-size);
    color: #A02141;
    align-self: end;
    display: none;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#logo-pie {
    width: 100px;
    margin-bottom: 40px;
}

#side-nav {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
}

.nav-link {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    border-radius: 4px;
    font-size: var(--small-font-size);
    color: #54565B;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #A02141;
    color: #fff;
    text-decoration: none;
}

.nav-link:active {
    background-color: #761931;
    text-decoration: none;
}

/* Set width on the form input elements since they're 100% wide by default */

.empty-body > main {
        height: inherit;
}

.header {
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 70px;
    min-height: 70px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    align-self: end;
}

.header #side-btn {
    font-size: var(--large-font-size);  
    padding-left: 15px;
    color: #A02141;
    display: none;
}

.header > nav {
    display: flex;
    height: 100%;
    width: fit-content;
}

nav a {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    color: #54565B;
}

nav a:visited {
    text-decoration: none;
    color: #54565B;
}

nav a:active, nav a:hover {
    text-decoration: none;
    background-color: #54565B;
    color: white;
}  

#modal-block {
    position: fixed;
    top: 70px;
    left: 250px;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
}

#modal-block.active {
    pointer-events: all;
}

#modal {
    position: fixed;
    top: 50%;
    left: calc((100% + 250px)*0.5);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    width: 580px;
    z-index: 10;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: all;
}



@media (max-width: 1366px){
    :root {
        --tiny-font-size: 12px;
        --xsmall-font-size: 14px;
        --small-font-size: 16px;
        --normal-font-size: 18px;
        --large-font-size: 20px;
        --xlarge-font-size: 22px;
        --giant-font-size: 24px;
    }

    .header{
        height: 50px;
        min-height: 50px;
    }

    #modal-block {
        top: 50px;
    }

}

@media (max-width: 960px) {


    #side-menu {
        position: fixed;
        left: -250px;
        opacity: 0;
    }

    #side-menu > span {
        display: flex;
    }

    #side-menu.open {
        left: 0px;
        opacity: 1;
    }
    

    .header {
        width: 100%;
    }

    .header #side-btn {
        display: block;
    }

    #modal {
        left: 50%;
    }

    #modal-block {
        top: 0;
        left: 0;
    }
}

@media (max-width: 690px) {
    :root {
        --tiny-font-size: 10px;
        --xsmall-font-size: 12px;
        --small-font-size: 14px;
        --normal-font-size: 16px;
        --large-font-size: 18px;
        --xlarge-font-size: 20px;
        --giant-font-size: 22px;
    }

    #logo-corto {
        display: flex;
        margin-left: 10px;
    }

    #logo-largo {
        display: none;
    }

    #modal {
        width: 95%;
    }

}