
@{
    ViewBag.Title = "SubirXmls";
}

<section id="file-drop-container">
    
    <div id="modulo-container">
        <div id="modulos-nav">
            <span>Externos</span>
            <div id="navigation">
                <a id="btn-app" onclick="cambiarModulo()">
                    <span id="upload-icon" title="Subir archivos">
                        <i class="fa-solid fa-file-arrow-up" ></i>
                        Cargar
                    </span>
                    <span id="history-icon" title="Historico">
                        <i class="fa-solid fa-list" ></i>
                        Historial
                    </span>
                </a>
            </div>
        </div>
        <div id="modulos">
        </div>
    </div>
</section>
<div id="modal-block">
    <div class="resume-modal" id="resume-modal">
        <div class="titulo-area">
            <span>Resultados</span>
            <i class="fa-solid fa-xmark" onclick="closeResume()"></i>
        </div>
        <div class="detalles-area">
            <span id="mensaje-resume"></span>
            <div class="resultados-contenedor">
                <div class="titulo-lista" id="toggle-registered" onclick="toggleList(this)">
                    <span>Registrados</span>
                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="list-results" id="registered">
                </div>
            </div>
            <div class="resultados-contenedor">
                <div class="titulo-lista" id="toggle-no-registered" onclick="toggleList(this)">
                    <span>No registrados</span>
                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="list-results" id="no-registered">
                </div>
            </div>
        </div>
        <div class="btn-area">
            <button class="btn-accept" id="btn-send" onclick="closeResume()">Aceptar</button>
        </div>
    </div>
    <div class="error-modal" id="modal">
        <div class="titulo-area">
            <span id="titulo-modal"></span>
            <i class="fa-solid fa-xmark" onclick="closeModal()"></i>
        </div>
        <div class="detalles-area">
            <span id="texto-modal"></span>
        </div>
        <div class="btn-area">
            <button class="btn-accept" id="btn-modal">Aceptar</button>
        </div>
    </div>
</div>
<div class="block-overlay" id="block">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<script type="text/javascript" src="~/Scripts/App/SubirArchivos.js"></script>

