html {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #F0F1F5;
    width: 100%;
    height: inherit;
}

main {
    display: flex;
    flex-direction: row;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */




.empty-body > main {
        height: inherit;
}